:root {
  --primary-color: #f2c747;
}

body {
  background-color: white;
  margin: 0px;
  font-family: "Kalam", cursive;
  text-align: center;
}

h1 {
  margin: 0%;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: var(--primary-color);
}
textarea {
  margin-top: 3rem;
  box-sizing: border-box;
  width: 80%;
  padding: 3rem;
}

div {
  font-size: large;
}

#output {
  border: 0.5px solid black;
  height: 3rem;
  padding: 3rem;
  width: 74%;
  margin-left: 9.5rem;
  margin-right: 9.5rem;
}

footer {
  background-color: var(--primary-color);
  padding: 2.5rem;
  margin-top: 3.1rem;
}
